
<style>#example-table_length{DISPLAY: none;} </style>
<header class="header">
            <div class="page-brand">                
               
                <a class="link ml-1" href="{% url 'dashboard' %}">
                    <span class="brand"><img src="/media/images/superaid-logo_oTQEf8d.png" alt="Superaides" title="Superaides" style="width: 15%;">SuperAides
                    </span>
                    <span class="brand-mini">SPA</span>
                </a>
            </div> 
            
            <div class="flexbox flex-1">
                <!-- START TOP-LEFT TOOLBAR-->
                <ul class="nav navbar-toolbar">
                    <li>
                        <a class="nav-link sidebar-toggler js-sidebar-toggler"><i class="ti-menu"></i></a>
                    </li>
                </ul>
                <!-- END TOP-LEFT TOOLBAR-->
                <!-- START TOP-RIGHT TOOLBAR-->
                <ul class="nav navbar-toolbar">
                    <!---<li class="dropdown dropdown-inbox">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope-o"></i>
                            <span class="badge badge-primary envelope-badge">9</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                            <li class="dropdown-menu-header">
                                <div>
                                    <span><strong>9 New</strong> Messages</span>
                                    <a class="pull-right" href="mailbox.html">view all</a>
                                </div>
                            </li>
                            <li class="list-group list-group-divider scroller" data-height="240px" data-color="#71808f">
                                <div>
                                    <a class="list-group-item">
                                        <div class="media">
                                            <div class="media-img">
                                                <img src="/static/admin/assets/img/users/u1.jpg" />
                                            </div>
                                            <div class="media-body">
                                                <div class="font-strong"> </div>Jeanne Gonzalez<small class="text-muted float-right">Just now</small>
                                                <div class="font-13">Your proposal interested me.</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="list-group-item">
                                        <div class="media">
                                            <div class="media-img">
                                                <img src="/static/admin/assets/img/users/u2.jpg" />
                                            </div>
                                            <div class="media-body">
                                                <div class="font-strong"></div>Becky Brooks<small class="text-muted float-right">18 mins</small>
                                                <div class="font-13">Lorem Ipsum is simply.</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="list-group-item">
                                        <div class="media">
                                            <div class="media-img">
                                                <img src="/static/admin/assets/img/users/u3.jpg" />
                                            </div>
                                            <div class="media-body">
                                                <div class="font-strong"></div>Frank Cruz<small class="text-muted float-right">18 mins</small>
                                                <div class="font-13">Lorem Ipsum is simply.</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="list-group-item">
                                        <div class="media">
                                            <div class="media-img">
                                                <img src="/static/admin/assets/img/users/u4.jpg" />
                                            </div>
                                            <div class="media-body">
                                                <div class="font-strong"></div>Rose Pearson<small class="text-muted float-right">3 hrs</small>
                                                <div class="font-13">Lorem Ipsum is simply.</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-notification">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o rel"><span class="notify-signal"></span></i></a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                            <li class="dropdown-menu-header">
                                <div>
                                    <span><strong>5 New</strong> Notifications</span>
                                    <a class="pull-right" href="javascript:;">view all</a>
                                </div>
                            </li>
                            <li class="list-group list-group-divider scroller" data-height="240px" data-color="#71808f">
                                <div>
                                    <a class="list-group-item">
                                        <div class="media">
                                            <div class="media-img">
                                                <span class="badge badge-success badge-big"><i class="fa fa-check"></i></span>
                                            </div>
                                            <div class="media-body">
                                                <div class="font-13">4 task compiled</div><small class="text-muted">22 mins</small></div>
                                        </div>
                                    </a>
                                    <a class="list-group-item">
                                        <div class="media">
                                            <div class="media-img">
                                                <span class="badge badge-default badge-big"><i class="fa fa-shopping-basket"></i></span>
                                            </div>
                                            <div class="media-body">
                                                <div class="font-13">You have 12 new orders</div><small class="text-muted">40 mins</small></div>
                                        </div>
                                    </a>
                                    <a class="list-group-item">
                                        <div class="media">
                                            <div class="media-img">
                                                <span class="badge badge-danger badge-big"><i class="fa fa-bolt"></i></span>
                                            </div>
                                            <div class="media-body">
                                                <div class="font-13">Server #7 rebooted</div><small class="text-muted">2 hrs</small></div>
                                        </div>
                                    </a>
                                    <a class="list-group-item">
                                        <div class="media">
                                            <div class="media-img">
                                                <span class="badge badge-success badge-big"><i class="fa fa-user"></i></span>
                                            </div>
                                            <div class="media-body">
                                                <div class="font-13">New user registered</div><small class="text-muted">2 hrs</small></div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>--->
                    <li class="dropdown dropdown-user">
                        <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                            <img src="/static/admin/assets/img/admin-avatar.png" />
                            <span > {{ request.user.username }}</span><i class="fa fa-angle-down m-l-5"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <!---<a class="dropdown-item" href="profile.html"><i class="fa fa-user"></i>Profile</a>
                            <a class="dropdown-item" href="profile.html"><i class="fa fa-cog"></i>Settings</a>
                            <a class="dropdown-item" href="javascript:;"><i class="fa fa-support"></i>Support</a>--->
                            <li class="dropdown-divider"></li>
                            <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-power-off"></i>Logout</a>
                        </ul>
                    </li>
                </ul>
                <!-- END TOP-RIGHT TOOLBAR-->
            </div>
        </header>
        <!-- END HEADER-->
        <!-- START SIDEBAR-->
        <nav class="page-sidebar" id="sidebar">
            <div id="sidebar-collapse">               
                <ul class="side-menu metismenu" style="margin-top: 5px;">
                    <li>
                        <a class="{% if request.path == '/auth/dashboard/' %}active{% endif %}" href="{% url 'dashboard' %}"><i class="sidebar-item-icon fa fa-th-large"></i>
                            <span class="nav-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="heading">FEATURES</li>                        
                    <li class='{% if "page-list" in request.path or "page-add" in request.path %} active {% endif %}'>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-edit"></i>
                            <span class="nav-label">PAGES</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a class='{% if "page-list" in request.path %} active {% endif %}' href="{% url 'page-list' %}">View Pages List</a>
                            </li>
                            <li>
                                <a class='{% if "page-add" in request.path %} active {% endif %}' href="{% url 'page-add' %}">Add New Page</a>
                            </li>                      "      
                        </ul>
                    </li>
                    <li class='{% if "navi" in request.path %} active {% endif %}'>
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-table"></i>
                            <span class="nav-label">NAVIGATION GROUP</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a class='{% if "navi-group" in request.path %} active {% endif %}' href="{% url 'navi-group' %}">View Navigation List</a>
                            </li>
                            <li>
                                <a class='{% if "navi-group-add" in request.path %} active {% endif %}' href="{% url 'navi-group-add' %}">Add Navigation</a>
                            </li>
                        </ul>
                    </li>
                    <li class='{% if "category" in request.path %} active {% endif %}'>
                        <a href="{% url 'category-list' %}" style="text-transform: uppercase;"><i class="sidebar-item-icon fa fa-smile-o"></i>
                            <span class="nav-label" >POST Categories</span>
                        </a>
                    </li> 

                    <li class='{% if "post" in request.path %} active {% endif %}' >
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-table"></i>
                            <span class="nav-label">POST</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a class='{% if "post-list" in request.path %} active {% endif %}' href="{% url 'post-list' %}">All Posts</a>
                            </li>
                            <li>
                                <a class='{% if "post-add" in request.path %} active {% endif %}' href="{% url 'post-add' %}">Add New Post</a>
                            </li>
                            
                            <!---
                                <li>
                                <a class='{% if "category-list" in request.path %} active {% endif %}' href="{% url 'category-list' %}">Post Categories</a>
                            </li>
                                <li>
                                <a class='{% if "tag" in request.path %} active {% endif %}' href="{% url 'post-tag-list' %}">Post Tags</a>
                            </li>-->                           
                        </ul>
                    </li>
                    
                    <li class='{% if "comment-list" in request.path %} active {% endif %}'>
                        <a href="{% url 'comment-list' %}" style="text-transform: uppercase;"><i class="sidebar-item-icon fa fa-smile-o"></i>
                            <span class="nav-label" >POST Comments</span>
                        </a>
                    </li> 
                    
                    
                    <li class='{% if "testimonials-list" in request.path %} active {% endif %}'>
                        <a href="{% url 'testimonials-list' %}" style="text-transform: uppercase;"><i class="sidebar-item-icon fa fa-smile-o"></i>
                            <span class="nav-label" >Testimonials</span>
                        </a>
                    </li>  
                    
                    <li class='{% if "contact" in request.path %} active {% endif %}'>
                        <a href="{% url 'contact-us' %}" style="text-transform: uppercase;"><i class="sidebar-item-icon fa fa-smile-o"></i>
                            <span class="nav-label">Contact Us</span>
                        </a>
                    </li>
                     <li class='{% if "groups" in request.path or "users" in request.path %} active {% endif %}' >
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-table"></i>
                            <span class="nav-label">MANAGE USERS</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a class='{% if "groups" in request.path %} active {% endif %}' href="{% url 'group-list' %}">Group (Role)</a>
                            </li>
                            <li>
                                <a class='{% if "users" in request.path %} active {% endif %}' href="{% url 'users-list' %}">Users</a>
                            </li>
                            
                        </ul>
                    </li>     
                    <li class="{% if 'list-html' in request.path or 'add-html' in request.path %} active {% endif %}">
                        <a href="javascript:;"><i class="sidebar-item-icon fa fa-bookmark"></i>
                            <span class="nav-label">HTML</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse">
                            <li>
                                <a class="{% if 'list-html' in request.path %}active{% endif %}" href="{% url 'list-html' %}">View HTML List</a>
                            </li>
                            <li>
                                <a class="{% if 'add-html' in request.path %}active{% endif %}" href="{% url 'add-html' %}">Add New HTML</a>
                            </li>                           
                        </ul>
                    </li>
              
                     <li class='{% if "setting" in request.path %} active {% endif %}'>
                        <a href="{% url 'setting' %}"><i class="sidebar-item-icon fa fa-smile-o"></i>
                            <span class="nav-label">SETTING</span>
                        </a>
                    </li>
                   
                  
                  
                  
                </ul>
            </div>
        </nav>
        <!-- END SIDEBAR-->