<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>SuperAides | Login</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link href="/static/admin/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/admin/assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/admin/assets/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <!-- THEME STYLES-->
    <link href="/static/admin/assets/css/main.css" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES-->
    <link href="/static/admin/assets/css/pages/auth-light.css" rel="stylesheet" />
</head>
<body class="bg-silver-300 login-page">
    <div class="content login-form">         
            <form id="login-form" class="form"  method="POST" action="{% url 'login' %}">
              {% csrf_token %}  
            <h2 class="login-title"><h4 class="login-title"><img style="width: 20%;"src="/media/images/superaid-logo_oTQEf8d.png">SuperAides</h4></h2>
            <div class="form-group">
                <div class="input-group-icon right">
                    <div class="input-icon"><i class="fa fa-envelope"></i></div>                   
                    <input class="form-control" type="text" name="{{ form.username.name }}" placeholder="Email or User Name"  value="" />
                     {% if form.username.errors %}
                      <span class="text-danger">{{ form.username.errors }}</span>
                      {% endif %}                      
    
                </div>
            </div>
            <div class="form-group">
                <div class="input-group-icon right">
                    <div class="input-icon"><i class="fa fa-lock font-16"></i></div>                    
                    <input type="password" name="{{ form.password.name }}" class="form-control"  placeholder="Password" value="" />                    
                     {% for error in form.password.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <div style="display: flex; align-items: center; gap: 5px;">
				{{ form.captcha }}
				 <span id="errorFromContactCapche" style="color: red;font-size: 12px;"></span>
                 </div> 
                 {% for error in form.captcha.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}  
			</div>
            <!--<div class="form-group">                
                <div style="display: flex; align-items: center; gap: 10px;">
                    {{ form.captcha }}
                    
                </div>
                {% for error in form.captcha.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>-->
                   
           {{ form.username.remember_me }}
            <div class="form-group d-flex justify-content-between">
                <label class="ui-checkbox ui-checkbox-info" for="remember_me">
                    <input type="checkbox" name="remember_me" id="remember_me">
                    <span class="input-span"></span>Remember me</label>
                    <a href="{% url 'password_reset' %}">Forgot password?</a>
            </div>
            
            <div class="login-button text-center">
                 <button type="submit" class="btn btn-dark">Login</button>
				<!-----<input type="submit" class="btn btn-primary" value="Login">-->
                <!---<a href="{% url 'register' %}" class="btn btn-default">Create a new account</a>-->
			</div>
            <div class="social-auth-hr"></div>           
        </form>
    </div>
    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
        <div class="page-preloader">Loading</div>
    </div>
    <!-- END PAGA BACKDROPS-->
    <!-- CORE PLUGINS -->
    <script src="/static/admin/assets/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/static/admin/assets/vendors/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="/static/admin/assets/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- PAGE LEVEL PLUGINS -->
    <script src="/static/admin/assets/vendors/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <!-- CORE SCRIPTS-->
    <script src="/static/admin/assets/js/app.js" type="text/javascript"></script>
    <!-- PAGE LEVEL SCRIPTS-->
   <style>#id_captcha_1{
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.50;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
   }
   .captcha{
    height: 37px;
   }
   dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style-type: none;
    padding-inline-start: 0px;
    left: 0;
}
   </style> 
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
       $(document).ready(function () {
            $('#login-form').validate({                 
                errorClass: "help-block",
                rules: {
                    login: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true
                    },
                    captcha_1: {
                        required: true
                    },
                },
                messages: {
            login: {
                required: "Please enter your email.",
                email: "Please enter a valid email address."
            },
            password: {
                required: "Please enter your password."
            },
            captcha_1: {
                required: "Please enter your captcha."
            },
        },
                highlight: function(e) {
                    $(e).closest(".form-group").addClass("has-error")
                },
                unhighlight: function(e) {
                    $(e).closest(".form-group").removeClass("has-error")
                },
            });
        });      
    </script>


    <script>
 

// CAPTCHA refresh (same as your original)
$(document).ready(function () {
  $('#id_captcha_1').after(
    $('<a href="#void" class="captcha-refresh" style="display:none;"><svg width="20" height="20" fill="none" stroke="#1c1c1c" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" viewBox="0 0 24 24"><path d="M20 19v-4h-4"></path><path d="M4 13a8.1 8.1 0 0 0 15.5 2"></path><path d="M4 5v4h4"></path><path d="M20 11A8.1 8.1 0 0 0 4.5 9"></path></svg></a>')
  );
});
$(document).ready(function () {
        $('.captcha-refresh').on('click', function (e) {
            e.preventDefault(); // Stop default behavior
            location.reload();  // Reload page
        });
    });

</script>
</body>

</html>