{% load static %}
{% include 'layouts/header.html' %}
<!-----{{dynamic_content}}-->
{% load custom_filters %}
    <!--Contact Page Start-->
    <section class="bg-image" style="background-image: url(/media/images/banner_3_8ONl2Ut.webp);">
        <div class="overlay">
            <div class="text-center text-content">
                <div class="page-header__inner">
                    <h2>Oops! 404</h2>
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="/">Go to Home</a></li>
                        
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-page">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="contact-page" style="text-align: center; padding: 40px 0 0px;">
                        <div class="contact-page__contact-list-box">
                        <h3 class="contact-page__contact-title">Oops! 404</h3>
                            <p>The page you're looking for does not exist.</p>
                            <a href="/">Go to Home</a>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--Contact Page End-->

    <!--Google Map Start-->
    <section class="contact-page-google-map">       </section>
    <!--Google Map End-->
    {% include 'layouts/footer.html' %}   
</body>
</html>

  

